<h1>Coin Counter</h1>

<p>Enter number of pennies</p>

<form action='/winner' method='get'>
  <div class="form-group">
    <label for="sentence">Enter pennies:</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info btn-lg">Get Change</button>
</form>
